@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
    --primary-font : "Geist", sans-serif;
}
body{
    font-family: var(--primary-font);

    --bg-primary: #F8FAFC;
    --secondary-color: #64748B;
}
.form input{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 6px;
}
.form label{
    font-size: 16px;
    font-weight: 500;
}

.active {
  background: blue;
  color: white;
}
button {
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

button:active {
  transform: translateY(0px);
  scale: 0.97;
}